<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_name %><br>
    <%= f.text_field :group_name %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <% User.all.each do |user| %>
      <li>
        <% if @group.users.exists?(user) %>
          <%= check_box_tag 'users_id[]', user.id, true %>
          <%= user.email -%>
        <% else %>
          <%= check_box_tag 'users_id[]', user.id %>
          <%= user.email -%>
        <% end %>
      </li>
  <% end %><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
