<p id="notice"><%= notice %></p>

<p>
  <strong>Group name:</strong>
  <%= @group.group_name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @group.score %>
</p>

<h2>Group members</h2>
<% User.all.each do |user| %>
		<% if @group.users.exists?(user) %>
      <li><%= user.email -%></li>
    <% end %>
<% end %><br>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
