<p id="notice"><%= notice %></p>

<p>
  <strong>Group name:</strong>
  <%= @group.group_name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @group.score %>
</p>

<h2>Group members</h2>
<% Attendant.all.each do |attendant| %>
		<% if @group.attendants.exists?(attendant) %>
      <li><%= link_to attendant.first_name, attendant -%></li>
    <% end %>
<% end %><br>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
