<p id="notice"><%= notice %></p>

<h1>Listing Attendants</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Citizen</th>
      <th>Login</th>
      <th>Password</th>
      <th>Attendant type</th>
      <th>Attendant type</th>
      <th>Dept name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendants.each do |attendant| %>
      <tr>
        <td><%= attendant.first_name %></td>
        <td><%= attendant.last_name %></td>
        <td><%= attendant.citizen_id %></td>
        <td><%= attendant.login %></td>
        <td><%= attendant.password %></td>
        <td><%= attendant.attendant_type %></td>
        <td><%= attendant.attendant_type_id %></td>
        <td><%= attendant.dept_name %></td>
        <td><%= link_to 'Show', attendant %></td>
        <td><%= link_to 'Edit', edit_attendant_path(attendant) %></td>
        <td><%= link_to 'Destroy', attendant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendant', new_attendant_path %>
<%= link_to 'Users List', users_path %>
<%= link_to 'Groups List', groups_path %>