<p id="notice"><%= notice %></p>

<%= form_tag '', :method => :get do %>
  <%= text_field_tag :filter_value %>
  <%= radio_button_tag(:radio_type, "name") %>
    <%= label_tag(:first_name, "First Name") %>
  <%= radio_button_tag(:radio_type, "id") %>
    <%= label_tag(:user_type_id, "Student ID") %>
  <%= submit_tag 'Filter' %>
<% end %>

<h5>For group filtering please go to GroupsList page</h5>

<h1>Listing Attendants</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Citizen ID</th>
      <th>Login</th>
      <th>Password</th>
      <th>Attendant Type</th>
      <th>Attendant Type ID</th>
      <th>Department Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendants.each do |attendant| %>
      <tr>
        <td><%= attendant.first_name %></td>
        <td><%= attendant.last_name %></td>
        <td><%= attendant.citizen_id %></td>
        <td><%= attendant.login %></td>
        <td><%= attendant.password %></td>
        <td><%= attendant.attendant_type %></td>
        <td><%= attendant.attendant_type_id %></td>
        <td><%= attendant.dept_name %></td>
        <td><%= link_to 'Show', attendant %></td>
        <td><%= link_to 'Edit', edit_attendant_path(attendant) %></td>
        <td><%= link_to 'Destroy', attendant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendant', new_attendant_path %>
<%= link_to 'Users List', users_path %>
<%= link_to 'Groups List', groups_path %>