<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @attendant.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @attendant.last_name %>
</p>

<p>
  <strong>Citizen ID:</strong>
  <%= @attendant.citizen_id %>
</p>

<p>
  <strong>Login:</strong>
  <%= @attendant.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @attendant.password %>
</p>

<p>
  <strong>Attendant Type:</strong>
  <%= @attendant.attendant_type %>
</p>

<p>
  <strong>Attendant Type ID:</strong>
  <%= @attendant.attendant_type_id %>
</p>

<p>
  <strong>Department Name:</strong>
  <%= @attendant.dept_name %>
</p>

<%= link_to 'Edit', edit_attendant_path(@attendant) %> |
<%= link_to 'Back', attendants_path %>
